#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: var(--gradient);
    padding: 15px;
    color: var(--headercolor);
    font-weight: bolder;
}

#login{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: solid 2px var(--terciarycolor);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#login:hover{
    background-color: rgba(255,255,255,0.3);
}

#login img{
    height: 50px;
    padding-left: 25px;
    clip-path: circle(37.54% at 65.93% 50%);
}